<component name="ArtifactManager">
  <artifact type="war" name="springbootClassLoader:war">
    <output-path>$PROJECT_DIR$/springbootClassLoader/target</output-path>
    <root id="archive" name="springbootClassLoader.war">
      <element id="artifact" artifact-name="springbootClassLoader:war exploded" />
    </root>
  </artifact>
</component>